<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Template Editor | All Templates</title>
		<link href="/admin/global.css" rel="stylesheet" />
		<link href="/admin/templates/templates.css" rel="stylesheet" />
	</head>
	<body>
		<div id="header">
			<p id="admin-page-hint">admin page</p>
			<a href="/admin/index.html">Create Templates</a>
		</div>
		<div id="templates-container">
			<p id="all-templates">All Templates</p>
			<div id="templates">
				<div class="template clone">
					<div class="template-view"></div>
					<p class="template-name">Template name</p>
					<div class="template-interacter">
						<a class="template-edit" href="/admim/index.html">Edit</a>
						<button>Delete</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/admin/main.js"></script>
	<script src="/admin/templates/templates.js"></script>
</html>
