<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="../global.css" rel="stylesheet" />
		<link href="./templates.css" rel="stylesheet" />
	</head>
	<body>
		<div id="header">
			<p id="admin-page-hint">admin page</p>
			<a href="../index.html">Create Templates</a>
		</div>
		<div id="templates-container">
			<p>All Templates</p>
			<div id="templates">
				<div class="template clone">
					<div class="template-view"></div>
					<p class="template-name">Template name</p>
					<div class="template-interacter">
						<a class="template-edit" href="../index.html">Edit</a>
						<button>Delete</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../main.js"></script>
	<script src="./templates.js"></script>
</html>
